body {
	margin-bottom: 5%;
	background-color: #000;
}

.main_title {
	color: #FFF;
}

h1 {
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5vw;
  font-style: normal;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 1%;
}
h2 {
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  font-size: 1vw;
  font-style: normal;
  text-align: center;
  margin-bottom: 1%;
}
p {
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  font-style: normal;
}

body div h1 {
	font-size: 20px;
}

body div p {
	display: inline-block;
}


 /******************************************************* INFO **************************************************/
.info h1 {
  font-family: Rockwell, Courier, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  margin-top: 0.5%;
}

.info {
  float: left;
	display: inline-block;
	width: 50%;
	height: auto;
	margin-left: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
	background-color: #E6E6E6;
	border-radius: 1em;
}


/**************** GRAPHS ********************/
.graphs {
	margin-top: 1%;
	margin-bottom: 1%;

}

.general {
	display: block;
	width: 97%;
	padding-left: 1%;
	padding-bottom: 1%;
	background-color: #D8D8D8;
	border-radius: 1em;
	box-shadow: 0px 3px 10px #b5c1c5, 0 0 0 0px #EEF5F7 inset;
}



/***************** LEGEND ********************/
.legend {
	display: block;
	width: 98%;
	background-color: #D8D8D8;
	border-radius: 1em;
	box-shadow: 0px 3px 10px #b5c1c5, 0 0 0 0px #EEF5F7 inset;
}

.info .graphs .legend .options {
	display: inline-block;
	width: 98%;
}

.radio_button {
	float: left;
	width: 48%;
}

.selectable {
	float: left;
	width: 48%;
	margin-bottom: 2%;
}

.radio_button input, .checkbox {
	margin-top: 1%;
	margin-left: 8%;
	margin-bottom: 1%;
}

.subtitle {
	clear: both;
}

.legend p {
	margin-left: 3%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-top: 0%;
}

/*Choropleth Legend*/
.legend h1 {
  font-family: Rockwell, Courier, Georgia, Times, "Times New Roman", serif;
  font-size: 1.3vw;
  font-style: normal;
}

.legend h2 {
  font-family: Rockwell, Courier, Georgia, Times, "Times New Roman", serif;
  font-size: 1vw;
  font-style: normal;
  margin-top: 0%;
}


ul{
  padding-left: 3%;
}
li.key {
  display: inline-block;
  border-top-width: 15px;
  border-top-style: solid;
  font-size: .75em;
  width: 12%;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0.1%;
  font: .75em/20px Georgia, serif;
}
.inline{
  width: 80%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

#legend_circle_title {
	margin-top: 0%;
}

/***************** CARDS ********************/
.cards {
	display: block;
	width: 98%;
}

.chart {
	width: 100%;
	display: block;
	background-color: #D8D8D8;
	border-radius: 1em;
	box-shadow: 0px 3px 10px #b5c1c5, 0 0 0 0px #EEF5F7 inset;
}

.card {
	display: inline-block;
	width: 98%;
	height: auto;
	margin-left: 1%;
	margin-bottom: 1%;
	background-color: #A9BCF5;
	border-radius: 1em;
	box-shadow: 0px 3px 10px #b5c1c5, 0 0 0 0px #EEF5F7 inset;
}
/*********** Tipografy ******************/
.card h2 {
	font-size: 1.1vw;
	text-align: left;
	color: #000;
	padding-left: 3%;
}
.card h3 {
	font: 1vw Georgia, serif;
    text-align: left;
    padding-left: 3%;
}
.card p{
	font-family: 0.8vw Georgia, serif;
	text-align: center;
    padding-top: 1%;
}
/************ sections design ********************/
.left_card, .right_card {
	border-radius: 1em;
	background-color: #E0E6F8;
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 1%;
	margin-bottom: 2%;
	box-shadow: 0px 3px 10px #b5c1c5, 0 0 0 0px #EEF5F7 inset;
}
.left_card {
	float: left;
	width: 50%;
	height: auto;
	margin-left: 2%;
}
.right_card {
	float: right;
	width: 40%;
	height: auto;
	margin-right: 2%;
}

.sector, .location {
	background-color: #E0E6F8;
}

.card_container {
	overflow-y: scroll;
	height: 30vh;
}


 /********************************************************** MAP **************************************************/
.map_container{
  float: left;
  width: 45%;
  height: 100%;
  margin-left: 1%;  
  border-radius: 1em;
}

.map {
  width: 100%;
}

